body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:darkslategray;
}

#about {
    background-color: darkgreen;
}

#skills {

}

#projects {

}

#contact {

}